# ------------------------------------------------------------------
# Environment & Credentials
# ------------------------------------------------------------------
.env
.env.local
.env.*.local
tests/test_demo.py

# ------------------------------------------------------------------
# Python
# ------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg
wheels/

# ------------------------------------------------------------------
# Virtual Environment
# ------------------------------------------------------------------
venv/
.venv/
env/
ENV/

# ------------------------------------------------------------------
# Pytest & Test Artifacts
# ------------------------------------------------------------------
.pytest_cache/
.cache/
reports/
screenshots/
*.html
junit*.xml
test-results/

# ------------------------------------------------------------------
# IDEs
# ------------------------------------------------------------------
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ------------------------------------------------------------------
# allure-reporting
# ------------------------------------------------------------------
allure-results/
allure-report/
